{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">-->
{% endblock %}

{% block scripts %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="{{ url_for('static', filename=js_file) }}"></script>
{% endblock %}

{% block navbar %}
<!--<div class="navbar navbar-fixed-top"></div>-->
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{message}}</h1>
    <div id="{{ content_id_name }}"></div>
</div>
{% endblock %}
